html{
    scroll-behavior: smooth;
}

body {
    
    background-color:#fff;
}

header{
    text-align:center;
    font-weight:bold;
    font-size: 3vw;
    height:60px;
    overflow:hidden;
}

.navigation{
top:0;
right:0%;
height:5vh;
background-color: antiquewhite;
position:fixed;
align-items: center;
justify-content: space-between;
display: flex;
width:70%;

margin-right:2%;


}

nav ul.nav-links {
    display: flex;
    list-style-type: none;
    margin: 2;
    padding: 0 16px;
}



nav a {
    color: blue;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
}

nav a::hover{
    color: coral;
}




a {
    text-decoration:none;
    text-emphasis-color: rgb(167, 167, 196);
    display: block;
    font-weight:bold;
    font-size:100%;
}



.wrapper {
    display: grid;
    /* Main grid-gap changing the entire view of the webpage we need to look for it in order to make the webpage beautiful. */
    grid-gap:1%;
    font-size:100%;
    background-color:#fff;
    color: black;
    margin-top:5%;
    
}



.box_a{
    display: grid;
    grid-auto-flow:column;
    background-color:antiquewhite;
    padding:1%;
    grid-column:1/16;
    grid-row:2;
}

a:hover{
    color:rgb(75, 62, 62);
}



.box_c{
    grid-column:1/16;
    grid-row:5;
    background-color: aliceblue;
    padding: 1%;
    text-align: left;
    font-weight: bold;
}


.box_c1{
    grid-column:2/6;
    grid-row:6/10;
    padding: 1%;
}

.box_c2{
    grid-column:7/11;
    grid-row:6/10;
    padding: 1%;
}
.box_c3{
    grid-column:11/15;
    grid-row:6/10;
    padding: 1%;
}




.box_e{
    grid-column:1/16;
    grid-row:13;
    background-color:aliceblue;
    padding:1%;
}


.box_e1{
    grid-column:2/6;
    grid-row:14/18;
    
    padding: 1%;
}

.box_e2{
    grid-column:7/11;
    grid-row:14/18;
    
    padding: 1%;
}
.box_e3{
    grid-column:11/15;
    grid-row:14/18;
    padding: 1%;
}


img{
    display:flex;
    max-height:70%;
    max-width:70%;
    
}
.box_b img{ 
    max-width: 70%;
    max-height: 50%; 
    margin-left:0%;
}



.box_f{
    grid-column:1/16;
    grid-row:21;
    background-color: aliceblue;
    padding:1%;
   
}

.box_g{
    grid-column:2/6;
    grid-row:22/26;
    
    padding: 1%;
}

.box_h{
    grid-column:7/11;
    grid-row:22/26;
    
    padding: 1%;
}
.box_i{
    grid-column:11/15;
    grid-row:22/26;
   
    padding: 1%;

}



.footer{
    grid-column:1/25;
    grid-row:29;
    background-color: rgb(188, 209, 228);
    
    padding: 1%;
    text-align:right;
}
.footer-content{
    margin-bottom:2%;
}
.LOGO{
    display:flex;
    flex-direction:row;
}
.LOGO img{
    max-width:50%;
    max-height:50%;   
    margin-left:20%;
}