
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet"  type="text/css" href="../static/css/about.css">
                <link rel="stylesheet"  type="text/css" href="../static/css/index.css">



    </head>
    <body style="background-image:url(../static/images/home_page_background.jpg)">

        
          <img src="../static/logo-images/Web_logo.jpeg" style="width:20vw; height:15vh">
          
            
        
        
        <div class="navigation">
            <nav>
                <ul class="nav-links">
                  <li><a href="./index.html" target="_self">Home</a></li> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./artists.html" target="_self">Artists</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./playlist.html" target="_self" >Playlist</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./about.html" target="_self" style="background-color:rgb(233, 217, 128)">About</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ul>
              </nav>
        </div>



 
    <h1 class="h" style="font-size:500%; font-weight:bold; ">ABOUT</h1>
    <p class="font">
      Our internet music database is the go-to source for music enthusiasts of
      all kinds. Our comprehensive webpage features an extensive collection of
      songs spanning various genres and eras, complete with detailed information
      on artists, albums, and songs. Whether you're looking for the latest
      chart-topping hits or timeless classics, our database has something for
      everyone. Our user-friendly interface makes it easy to search, browse, and
      discover new music. Start exploring our internet music database today and
      take your musical journey to the next level.
    </p>
    

    
    <centre><table>
      <tr>
        <td style="padding:2%">
          <img
            src="../static/images/web-creator-images/bharath.jpeg"
            alt="image" style="width:15vw; height: 20vh;"
          />
        </td>
        <td style="padding:2%">
          <img
            src="../static/images/web-creator-images/hemanth-kumar-reddy.jpeg"
            alt="image" style="width:15vw; height:20vh;"
          />
        </td>
        </tr>
        <tr>
          <td style="font-size:200%">
            Gajawada Bharath
          </td>
          <td style="font-size:200%">
            Hemanth Kumar Reddy
          </td>
        </tr>
    </table>
    </centre>


	  <!-- Footer implementation -->
	  <div class="footer">
		<div class="footer-content">
			About website: Internet-Music-database.<br>
			<a href="mailto:gajawada.bharath@students.iiit.ac.in">gajawada.bharath@students.iiit.ac.in</a>
			<a href="mailto:hemanth.sunkireddy@students.iiit.ac.in">hemanth.sunkireddy@students.iiit.ac.in</a>
			<a href="./about.html">Click here to go to about page</a>
		</div>
	</div>
	<!-- footer implementation ended.-->
  
</body>
</html>