<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/artists.css" /> 
    </head>
    <body>

        <img src="../static/logo-images/Web_logo.jpeg" style="width:20vw; height:15vh">

        <!-- Navigation bar implementation -->
        <div class="navigation">
            <nav>
                <ul class="nav-links">
                  <li><a href="index.html">Home</a></li> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="artists.html" style="background-color:rgb(233, 217, 128)">Artists</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./playlist.html" target="_self">Playlist</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="about.html">About</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                </ul>
              </nav>
        </div>
        <!-- Navigation bar implemented -->
       
        
       
        
        <div class="wrapper">

            <div class="box_a">
    
                <a href="#Artist_section" target="_self">About Artist</a>
                &nbsp;&nbsp;
                <a href="#Album_section" target="_self">All albums</a>

                &nbsp;&nbsp;
                <a href="#Song_section" target="_self">Latest songs</a>
                &nbsp;&nbsp;
            </div>

            <!-- Social Media profiles link -->
            <div class="box_b"><img src="../static/images/artist-images/ed-sheeran.jpg"> <p>Ed Sheeran</p>
                <div class="LOGO">  
                    <br>
                    <div>
                        <a href="https://www.facebook.com/EdSheeranMusic/" target="_blank">
                            <img src="../static/logo-images/Facebook.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="https://www.instagram.com/sheeran/" target="_blank">
                            <img src="../static/logo-images/Instagram.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="https://twitter.com/edsheeran?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
                            <img src="../static/logo-images/Twitter.png">
                        </a>
                    </div>  
                </div>
            </div>
            <!-- Social Media profiles link ended. -->
            
            <div class="box_c" id="Artist_section">About Artist:
            </div>

            <div class="box_d">
				Edward Christopher Sheeran MBE (born 17 February 1991) is an English singer-songwriter. Born in Halifax, West Yorkshire, and raised in Framlingham, Suffolk, he began writing songs around the age of eleven. In early 2011, Sheeran independently released the extended play No. 5 Collaborations Project. He signed with Asylum Records the same year.
            </div>

    
            <div class="box_e" id="Album_section">
                <b>All Albums:</b>
            </div>


            <!-- Album implementation -->
            
            <div class="box_e_1">
                <a href="./ed-sheeran-01.html"><img src="../static/images/album-images/ed-sheeran-album/all-of-the-stars.png">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        All Of The Stars
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        2015
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        5 songs
                </a>
            </div>

            <div class="box_e_2">
                <a href="./ed-sheeran-02.html"><img src="../static/images/album-images/ed-sheeran-album/castle-on-the-hill.png">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Castle on the Hill
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            2016
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            5 songs
                </a>
            </div>

            <div class="box_e_3">
                <a href="./ed-sheeran-03.html"><img src="../static/images/album-images/ed-sheeran-album/divide.png">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Divide
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2017
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_4">
                <a href="./ed-sheeran-04.html"><img src="../static/images/album-images/ed-sheeran-album/Ed Sheeran_2.png">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    =
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2021                                                                                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_5">
                <a href="./ed-sheeran-05.html"><img src="../static/images/album-images/ed-sheeran-album/plus.png">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Plus
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2011
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
            <div class="box_e_6">
                <a href="./ed-sheeran-06.html"><img src="../static/images/album-images/ed-sheeran-album/x.png">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    X
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2014
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
        <!-- Album implementation ended. -->
            

        <!-- Song section implementation -->
        <div class="box_f" id="Song_section"><b>Latest songs:</b></div>
            
            <div class="box_g"><img src="../static/logo-images/Music.png" style="width:100%; height:70%">
                <b>
                    All of the stars
                </b>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>3:54 min</b>
            </div>
            
            <div class="box_h"><img src="../static/logo-images/Music.png" style="width:100%; height:70%">
                <b>
                    Shape of You
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>3:53 min</b>
            </div>

            <div class="box_i"><img src="../static/logo-images/Music.png" style="width:100%; height:70%">
                <b>
                    One
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>4:12 min</b>
            </div>

        <!-- Song section implementation completed -->



            

            <!-- Footer implementation -->
            <div class="footer">
                <div class="footer-content">
                    About website: Internet-Music-database.<br>
                    <a href="mailto:gajawada.bharath@students.iiit.ac.in">gajawada.bharath@students.iiit.ac.in</a>
                    <a href="mailto:hemanth.sunkireddy@students.iiit.ac.in">hemanth.sunkireddy@students.iiit.ac.in</a>

                    <a href="about.html">
                         click here to go to about page.
                    </a>
                   
                </div>
            </div>
            <!-- footer implementation ended.-->
        
        </div>
        
       
    </body>
</html>
