
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet"  type="text/css" href="../static/css/index.css">
    </head>
    <body style="background-image: url(../static/images/home_page_background.jpg);">

        <img src="../static/logo-images/Web_logo.jpeg" style="width:20vw; height:15vh">
        
        <div class="navigation">
            <nav>
                <ul class="nav-links">
                    <div style="background-color:rgb(233, 217, 128); height:4vh">
                
                    
                  <li><a href="./index.html" target="_self"><div >
                        Home</div></a></li>
                        </div> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="./searchpage.html" target="_self">Search</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./artists.html" target="_self">Artists</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./spotLight.html" target="_self">Spotlight</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./playlist.html" target="_self">Playlist</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./about.html" target="_self">About</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                </ul>
              </nav>
        </div>
       
        
       
        
        <div class="wrapper" style="margin-left:15%;background-image:url(../static/images/home_page_background.jpg)">

           
          
            
            <div class="box_a">
              
                
                <a href="#Top_artist" target="_self">Top Artists</a>
                &nbsp;&nbsp;
                <a href="#Top_album" target="_self">Top Albums</a>

                &nbsp;&nbsp;
                <a href="#Top_song" target="_self">Top Songs</a>
                &nbsp;&nbsp;
            </div>
           
               
            
            <div class="box_c" id="Top_artist">Top Artists:
            </div>

           
            <div class="box_c1"><a href="./arijit-singh.html"><img src="../static/images/artist-images/arijit-singh.png" style="width:100%; height:70%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Arijit Singh</b></a></div>
            <div class="box_c2"><a href="./sp-balu.html"><img src="../static/images/artist-images/sp-balu.jpeg" style="width:100%; height:70%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Bala Subramanyam</b></a></div>
            <div class="box_c3"><a href="./shreya-ghoshal.html"><img src="../static/images/artist-images/shreya-ghoshal.jpg" style="width:100%; height:70%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Shreya Ghoshal</b><br></a></div>
    
            <div class="box_e" id="Top_album">
                <b>Top Albums:</b>
            </div>

            <div class="box_e1"><a href="./arijit-singh-01.html"><img src="../static/images/album-images/arijit-singh-album/chander-pahar.jpeg" style="width:100%; height:70%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Arijit Singh-Chander Pahar</b></a></div>
            <div class="box_e2"><a href="./shreya-ghoshal-01.html"><img src="../static/images/album-images/shreya-ghoshal-album/banomali-re.jpg" style="width:100%; height:70%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>shreya ghoshal- Banomali re</b></a></div>
            <div class="box_e3"><a href="./ed-sheeran-01.html"><img src="../static/images/album-images/ed-sheeran-album/all-of-the-stars.png" style="width:100%; height:70%"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ed Sheeran- All of the stars</b><br></a></div>
            
            
            
            
            <div class="box_f" id="Top_song"><b>Top Songs:</b></div>

            <div class="box_g"><img src="../static/logo-images/Music.png" style="width:100%; height:70%"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bahin Mein Chale Aao</b></div>
            <div class="box_h"><img src="../static/logo-images/Music.png" style="width:100%; height:70%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>I'm a Mess</b></div>
            <div class="box_i"><img src="../static/logo-images/Music.png" style="width:100%; height:70%"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nina</b></div>



            

            <!-- Footer implementation -->
            <div class="footer">
                <div class="footer-content">
                    About website: Internet-Music-database.<br>
                    <a href="mailto:gajawada.bharath@students.iiit.ac.in">gajawada.bharath@students.iiit.ac.in</a>
                    <a href="mailto:hemanth.sunkireddy@students.iiit.ac.in">hemanth.sunkireddy@students.iiit.ac.in</a>
                    <a href="./about.html">click here to go to about page</a>
                </div>
            </div>
            <!-- footer implementation ended.-->
        </div>
        
       
    </body>
</html>

