<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/artists.css" /> 
    </head>
    <body>

        <img src="../static/logo-images/Web_logo.jpeg" style="width:20vw; height:15vh">

        <!-- Navigation bar implementation -->
        <div class="navigation">
            <nav>
                <ul class="nav-links">
                  <li><a href="index.html">Home</a></li> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="artists.html" style="background-color:rgb(233, 217, 128)">Artists</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./playlist.html" target="_self">Playlist</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="about.html">About</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                </ul>
              </nav>
        </div>
        <!-- Navigation bar implemented -->
       
        
       
        
        <div class="wrapper">

            <div class="box_a">
    
                <a href="#Artist_section" target="_self">About Artist</a>
                &nbsp;&nbsp;
                <a href="#Album_section" target="_self">All albums</a>

                &nbsp;&nbsp;
                <a href="#Song_section" target="_self">Latest songs</a>
                &nbsp;&nbsp;
            </div>

            <!-- Social Media profiles link -->
            <div class="box_b"><img src="../static/images/artist-images/Lata-Mangeshkar.jpg"> <p>Lata Mangeshkar</p>
                <div class="LOGO">  
                    <br>
                    <div>
                        <a href="https://www.facebook.com/LataMangeshkar/" target="_blank">
                            <img src="../static/logo-images/Facebook.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="https://www.instagram.com/lata_mangeshkar/?hl=en" target="_blank">
                            <img src="../static/logo-images/Instagram.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="https://twitter.com/mangeshkarlata?lang=en" target="_blank">
                            <img src="../static/logo-images/Twitter.png">
                        </a>
                    </div>  
                </div>
            </div>
            <!-- Social Media profiles link ended. -->
            
            <div class="box_c" id="Artist_section">About Artist:
            </div>

            <div class="box_d">
                    

Lata Mangeshkar (born 28 September 1929; 6 February 2022) was an Indian playback singer and occasional music composer. She is widely considered to have been one of the greatest and most influential singers in India and one of the world's greatest singers, according to BBC. Her contribution to the Indian music industry in a career spanning eight decades gained her honorific titles such as the "Queen of Melody", "Nightingale of India", and "Voice of the Millennium"
Image description 
            </div>

    
            <div class="box_e" id="Album_section">
                <b>All Albums:</b>
            </div>


            <!-- Album implementation -->
            
            <div class="box_e_1">
                <a href="./lata-mangeshkar-01.html"><img src="../static/images/album-images/lata-mangeshkar-album/diamonds.jpeg">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        Diamonds
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        2001
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        5 songs
                </a>
            </div>

            <div class="box_e_2">
                <a href="./lata-mangeshkar-02.html"><img src="../static/images/album-images/lata-mangeshkar-album/jaadgi.jpg">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Saadgi
                            <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            2007
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            5 songs
                </a>
            </div>

            <div class="box_e_3">
                <a href="./lata-mangeshkar-03.html"><img src="../static/images/album-images/lata-mangeshkar-album/jagraata.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Jagraata
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2000
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_4">
                <a href="./lata-mangeshkar-04.html"><img src="../static/images/album-images/lata-mangeshkar-album/meera-bajans.jpeg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Meera Bajans
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    1968                                                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_5">
                <a href="./lata-mangeshkar-05.html"><img src="../static/images/album-images/lata-mangeshkar-album/saare-jahan-se-acchhha.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Saare Jahan Sen Acchha
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    1975
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
            <div class="box_e_6">
                <a href="./lata-mangeshkar-06.html"><img src="../static/images/album-images/lata-mangeshkar-album/safar.jpeg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    safar
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2015
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
        <!-- Album implementation ended. -->
            

        <!-- Song section implementation -->
        <div class="box_f" id="Song_section"><b>Latest songs:</b></div>
            
            <div class="box_g"><img src="../static/logo-images/Music.png" style="width:100%; height:70%">
                <b>
                    Mujhe Khabar Thi
                </b>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>6:14 min</b>
            </div>
            
            <div class="box_h"><img src="../static/logo-images/Music.png" style="width:100%; height:70%">
                <b>
                    Tujhe Dekha To
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>5:04 min</b>
            </div>

            <div class="box_i"><img src="../static/logo-images/Music.png" style="width:100%; height:70%">
                <b>
                    Aayega Aanewala
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>6:52 min</b>
            </div>

        <!-- Song section implementation completed -->



            

            <!-- Footer implementation -->
            <div class="footer">
                <div class="footer-content">
                    About website: Internet-Music-database.<br>
                    <a href="mailto:gajawada.bharath@students.iiit.ac.in">gajawada.bharath@students.iiit.ac.in</a>
                    <a href="mailto:hemanth.sunkireddy@students.iiit.ac.in">hemanth.sunkireddy@students.iiit.ac.in</a>
                   <a href="about.html"> click here to go to about page.</a>
                </div>
            </div>
            <!-- footer implementation ended.-->
        
        </div>
        
       
    </body>
</html>
