<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/albums.css" />
     
    </head>
    <body>
        
        <!-- Navigation bar starting. -->
        <div class="navigation">
            <nav>
                <ul class="nav-links">
                  <li><a href="index.html">Home</a></li> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="artists.html">Artists</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="./playlist.html" target="_self">Playlist</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <li><a href="about.html">About</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                </ul>
              </nav>
        </div>
        <!-- Navigation bar ending. -->

        <img src="../static/logo-images/Web_logo.jpeg" style="width:20vw; height:15vh">
    
        <div class="wrapper">
            <div class="box_a">
                <img src="../static/images/album-images/lata-mangeshkar-album/meera-bajans.jpeg">
            </div>

            <div class="box_sub_a1">
                Meera Bajans
            </div>

            <div class="box_sub_a2">
                1968
             </div>

             <div class="box_sub_a3">
                5 songs
             </div>
            

            <div class="box_b">
                <img src="../static/images/artist-images/Lata-Mangeshkar.jpg"> <p>Lata Mangeshkar</p>
            </div>

            <div class="box_c" id="name1">
                1 &nbsp; &nbsp;<img src="../static/logo-images/Music.png" style="width:3%; height:auto">  &nbsp; &nbsp; Sanvaro Nandanandan
                &nbsp; &nbsp;&nbsp; &nbsp; 
            </div>

            <div class="box_c_sub" id="time1">
                7:18
            </div>

             <button class="box_c_section" id="butt1">
                    Add to playlist
            </button>

            <div class="box_d" id="name2">
                2 &nbsp; &nbsp;<img src="../static/logo-images/Music.png" style="width:3%; height:auto">  &nbsp; &nbsp; Kinun Sang Khelun Holi
                &nbsp; &nbsp;&nbsp; &nbsp;
            </div>

            <div class="box_d_sub" id="time2">
                5:42
            </div>

             <button class="box_d_section" id="butt2">
                    Add to playlist
            </button>

    
            <div class="box_e" id="name3">
                3 &nbsp; &nbsp;<img src="../static/logo-images/Music.png" style="width:3%; height:auto">  &nbsp; &nbsp; Thane Kanee Kanee Sunava
                &nbsp; &nbsp;&nbsp; &nbsp;
            </div>

            <div class="box_e_sub" id="time3">
               6:18
            </div>

             <button class="box_e_section" id="butt3">
                    Add to playlist
            </button>
            
            
            <div class="box_f" id="name4">
                4 &nbsp; &nbsp;<img src="../static/logo-images/Music.png" style="width:3%; height:auto">  &nbsp; &nbsp; Sanvara Mari Preet Nibhajonji            &nbsp; &nbsp;&nbsp; &nbsp;
            </div>

            <div class="box_f_sub" id="time4">
                6:54
             </div>

              <button class="box_f_section" id="butt4">
                    Add to playlist
            </button>

            <div class="box_g" id="name5">
                5 &nbsp; &nbsp;<img src="../static/logo-images/Music.png" style="width:3%; height:auto">  &nbsp; &nbsp; Oji Hari Kit Gaye
                &nbsp; &nbsp;&nbsp; &nbsp;
            </div>

            <div class="box_g_sub" id="time5">
                6:22
            </div>

             <button class="box_g_section" id="butt5">
                    Add to playlist
            </button>



   


            <!-- Footer implementation -->
            <div class="footer">
                <div class="footer-content">
                    About website: Internet-Music-database.<br>
                    <a href="mailto:gajawada.bharath@students.iiit.ac.in">gajawada.bharath@students.iiit.ac.in</a><br>
                    <a href="mailto:hemanth.sunkireddy@students.iiit.ac.in">hemanth.sunkireddy@students.iiit.ac.in</a><br>
                    click here to go to about page.
                </div>
            </div>
            <!-- footer implementation ended.-->

            <script src="../static/js/playlist.js">

            </script>
        </div>
        
       
    </body>
</html>
