<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/artists.css" />
    </head>
    <body style="background-image: url(../static/images/home_page_background.jpg);">

        <img src="../static/logo-images/Web_logo.jpeg" style="width:20vw; height:15vh">

        <!-- Navigation bar implementation -->
        <div class="navigation">
            <nav>
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li> &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="artists.html" style="background-color:rgb(233, 217, 128)">Artists</a></li>&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="./playlist.html" target="_self">Playlist</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="about.html">About</a></li>&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                </ul>
            </nav>
        </div>
        <!-- Navigation bar implemented -->




        <div class="wrapper" style="background-image: url(../static/images/home_page_background.jpg)">

            <div class="box_a">

                <a href="#Artist_section" target="_self">About Artist</a>
                &nbsp;&nbsp;
                <a href="#Album_section" target="_self">All albums</a>
                &nbsp;&nbsp;
                <a href="#Song_section" target="_self">Latest songs</a>
                &nbsp;&nbsp;
            </div>

            <!-- Social Media profiles link -->
            <div class="box_b"><img src="../static/images/artist-images/shreya-ghoshal.jpg">
                <p>Shreya Ghoshal</p>
                <div class="LOGO">
                    <br>
                    <div>
                        <a href="https://www.facebook.com/shreyaghoshal/" target="_blank">
                            <img src="../static/logo-images/Facebook.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="https://www.instagram.com/shreyaghoshal/"
                            target="_blank">
                            <img src="../static/logo-images/Instagram.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="https://twitter.com/shreyaghoshal" target="_blank">
                            <img src="../static/logo-images/Twitter.png">
                        </a>
                    </div>
                </div>
            </div>
            <!-- Social Media profiles link ended. -->

            <div class="box_c" id="Artist_section">About Artist:
            </div>

            <div class="box_d">
                Shreya Ghoshal (born 12 March 1984) is an Indian singer. Noted for her wide vocal range and versatility, she is one of the most prolific and popular singers of India.[2][3] She has recorded songs for films and albums in various Indian languages and received numerous accolades throughout her career, including four National Film Awards, four Kerala State Film Awards, two Tamil Nadu State Film Awards, two BFJA Awards, seven Filmfare Awards and ten Filmfare Awards South.
            </div>


            <div class="box_e" id="Album_section">
                <b>All Albums:</b>
            </div>


            <!-- Album implementation -->

            <div class="box_e_1">
                <a href="./shreya-ghoshal-01.html"><img
                        src="../static/images/album-images/shreya-ghoshal-album/banomali-re.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Banomali Re
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2002
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_2">
                <a href="./shreya-ghoshal-02.html"><img
                        src="../static/images/album-images/shreya-ghoshal-album/bendhechhi-beena.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Bendhechhi Beena
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    1998
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_3">
                <a href="./shreya-ghoshal-03.html"><img
                        src="../static/images/album-images/shreya-ghoshal-album/hum-tum.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                        Pyari Pyari Shreya Ghoshal              <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2018
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_4">
                <a href="./shreya-ghoshal-04.html"><img
                        src="../static/images/album-images/shreya-ghoshal-album/humnasheen-ghazals.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Humnasheen Ghazals
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2014
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_5">
                <a href="./shreya-ghoshal-05.html"><img
                        src="../static/images/album-images/shreya-ghoshal-album/mukhor-porag.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Mukhor Porag
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2000
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
            <div class="box_e_6">
                <a href="./shreya-ghoshal-06.html"><img
                        src="../static/images/album-images/shreya-ghoshal-album/rupasi-raate.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Rupasi Raate
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2017
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
            <!-- Album implementation ended. -->


            <!-- Song section implementation -->
            <div class="box_f" id="Song_section"><b>Latest songs:</b></div>

            <div class="box_g"><img src="../static/logo-images/Music.png"
                    style="width:100%; height:70%">
                <b>
                    Mon Metechhe Mon Mauryi
                </b>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>3:34 min</b>
            </div>

            <div class="box_h"><img src="../static/logo-images/Music.png"
                    style="width:100%; height:70%">
                <b>
                    Harano Patheri Se Banke
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>3:04 min</b>
            </div>

            <div class="box_i"><img src="../static/logo-images/Music.png"
                    style="width:100%; height:70%">
                <b>
                    E Ganer Mon
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>4:43 min</b>
            </div>

            <!-- Song section implementation completed -->





            <!-- Footer implementation -->
            <div class="footer">
                <div class="footer-content">
                    About website: Internet-Music-database.<br>
                    <a href="mailto:gajawada.bharath@students.iiit.ac.in">gajawada.bharath@students.iiit.ac.in</a>
                    <a href="mailto:hemanth.sunkireddy@students.iiit.ac.in">hemanth.sunkireddy@students.iiit.ac.in</a>
                    <a href="./about.html">click here to go to about page.</a>
                </div>
            </div>
            <!-- footer implementation ended.-->

        </div>


    </body>
</html>
