<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/artists.css" />
    </head>
    <body>

        <img src="../static/logo-images/Web_logo.jpeg" style="width:20vw; height:15vh">

        <!-- Navigation bar implementation -->
        <div class="navigation">
            <nav>
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li> &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="artists.html" style="background-color:rgb(233, 217, 128)">Artists</a></li>&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="./playlist.html" target="_self">Playlist</a></li>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <li><a href="about.html">About</a></li>&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
                </ul>
            </nav>
        </div>
        <!-- Navigation bar implemented -->




        <div class="wrapper">

            <div class="box_a">

                <a href="#Artist_section" target="_self">About Artist</a>
                &nbsp;&nbsp;
                <a href="#Album_section" target="_self">All albums</a>
                &nbsp;&nbsp;
                <a href="#Song_section" target="_self">Latest songs</a>
                &nbsp;&nbsp;
            </div>

            <!-- Social Media profiles link -->
            <div class="box_b"><img src="../static/images/artist-images/sp-balu.jpeg">
                <p>Bala Subramanyam</p>
                <div class="LOGO">
                    <br>
                    <div>
                        <a href="https://www.facebook.com/SPB/" target="_blank">
                            <img src="../static/logo-images/Facebook.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="https://www.instagram.com/ispbofficial/"
                            target="_blank">
                            <img src="../static/logo-images/Instagram.png">
                        </a>
                    </div>
                    <br>
                    <div>
                        <a href="#0" target="_blank">
                            <img src="../static/logo-images/Twitter.png">
                        </a>
                    </div>
                </div>
            </div>
            <!-- Social Media profiles link ended. -->

            <div class="box_c" id="Artist_section">About Artist:
            </div>

            <div class="box_d">
                Arijit Singh (born 25 April 1987) is an Indian singer and music
                composer. The recipient of several accolades including a
                National Film Award and six Filmfare Awards, he has recorded
                songs in several Indian languages and is regarded as one of the
                greatest playback singers of this generation.
            </div>


            <div class="box_e" id="Album_section">
                <b>All Albums:</b>
            </div>


            <!-- Album implementation -->

            <div class="box_e_1">
                <a href="./sp-balu-01.html"><img
                        src="../static/images/album-images/sp-balu-album/bakthi-majari.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Bakthi Majari
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    1995
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_2">
                <a href="./sp-balu-05.html"><img
                        src="../static/images/album-images/sp-balu-album/sangeetha-uttsavam.jpeg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    sangeetha Uttsavam
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2020
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_3">
                <a href="./sp-balu-02.html"><img
                        src="../static/images/album-images/sp-balu-album/love-struck.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Love Struck
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2014
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_4">
                <a href="./sp-balu-03.html"><img
                        src="../static/images/album-images/sp-balu-album/pranamami-gananayakam.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    pranamami Gananayakam
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    1985
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>

            <div class="box_e_5">
                <a href="./sp-balu-04.html"><img
                        src="../static/images/album-images/sp-balu-album/saibaba-mahatyam.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Saibaba Mahatyam
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2002
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
            <div class="box_e_6">
                <a href="./sp-balu-06.html"><img
                        src="../static/images/album-images/sp-balu-album/shivarpanam.jpg">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Shivarpanam
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    2004
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    5 songs
                </a>
            </div>
            <!-- Album implementation ended. -->


            <!-- Song section implementation -->
            <div class="box_f" id="Song_section"><b>Latest songs:</b></div>

            <div class="box_g"><img src="../static/logo-images/Music.png"
                    style="width:100%; height:70%">
                <b>
                    Adugudoyi
                </b>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>4:48 min</b>
            </div>

            <div class="box_h"><img src="../static/logo-images/Music.png"
                    style="width:100%; height:70%">
                <b>
                    Bahut Pyar Karte Hai Male
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>3:04 min</b>
            </div>

            <div class="box_i"><img src="../static/logo-images/Music.png"
                    style="width:100%; height:70%">
                <b>
                    Ala Okintha
                </b><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>4:43 min</b>
            </div>

            <!-- Song section implementation completed -->





            <!-- Footer implementation -->
            <div class="footer">
                <div class="footer-content">
                    About website: Internet-Music-database.<br>
                    <a href="mailto:gajawada.bharath@students.iiit.ac.in">gajawada.bharath@students.iiit.ac.in</a>
                    <a href="mailto:hemanth.sunkireddy@students.iiit.ac.in">hemanth.sunkireddy@students.iiit.ac.in</a>
                   <a href="about.html">click here to go to about page.</a> 
                </div>
            </div>
            <!-- footer implementation ended.-->

        </div>


    </body>
</html>
